.header {
    margin-top: 60px;
   
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: rgb(58, 54, 54);

  }
  
  .headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
    z-index: -1;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
    z-index: 1;
  }
  
  .headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
   

  }